h1 {
    background: red;
    text-align: center
}

 nav {
    text-align: right;
    padding-bottom: 25px;
    margin-right: 20px
}

#greyBox {
    background: grey;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 500px;
    text-align: center;
    color: blue;
}

.form-group .col-md-4 .col-md-8{
    text-align: center;
}

legend {
    margin: 15px;
}

input {
    text-align: center;
    display: inline-block;
}

#about {
    text-align: center;
    padding: 100px;
}

